/* --------------------------------------   */
/* styling for the video listing container   */
/* --------------------------------------   */

/* container holding the list of videos */
.listing-container {
    width:70vw;
    margin:0 auto;
    text-align:center;
}

/* -------------------------------------------------- */
/* styling for the container holding a single video   */
/* -------------------------------------------------- */

/* container element for a single video */
.video-container {    
    display:grid;
    grid-template-columns: 400px auto;
    grid-column-gap: 20px;
    padding:20px;
    margin:20px 0px;
    background-color:#fff;
    text-align:left;
}

/* video thumbnail */
img.video-thumbnail {
    max-width:400px;
}

/* -----------------------------------------------------------*/
/* styling for the video's title, author, profile photo, desc */
/* is in global.css                                           */
/* -----------------------------------------------------------*/


